<p> Welcome, <%= current_user.email %>
<h2> Posts </h2>

<%=
"Owner Name: #{params[:owner_name]}<br>
Location Name: #{params[:location_name]}<br>
Total number of Dogs: #{params[:dogs]}<br>
Total number of Cats: #{params[:cats]}<br>
Total number of Birds: #{params[:birds]}<br>
#{params[:owner_id]} = id"
%>