
  <h1>Welcome to Pet Journal!</h1>
  <p1> Pet journal is a website where people can create online profiles of themselves with vital pet information such as number of pets, type of pets, and special needs of the pets to make it easier for pet sitters to know more about your pets before making a commitment to take care of them! </p1>
  
  <form action="/login" method="GET">
    <input type="submit", value="Existing user">
  </form>
  
  <form action="/signup" method="GET">
    <input type="submit", value="New user">
  </form>
  
  
  
  
  
  
  
