<h1>Welcome Back!</h1>

  <p1>To view all posts click below!</p1>
  <form action="/all_posts" method="GET">
    <input type="submit" value="All Posts">
  </form>
  
  <p> </p>
  
  <p1>To create a new post click below!</p1>
  <form action="/new_post" method="GET">
    <input type="submit" value="New Post">
  </form>