<h1>PetBooK</h1>
  
  <p1> PetBooK is a website where shelter owners can create logs or posts of how many animals they have in their shelters. An owner can have multiple shelters. The use of this site is restricted to users only. Anyone is free to create an account and look at shelters inventory numbers! </p1>
  
  <form action="/login" method="GET">
    <input type="submit", value="Existing user">
  </form>
  
  <form action="/signup" method="GET">
    <input type="submit", value="New user">
  </form>
  
  <p>To see what our site offers click the botton below to catch a glimpse of it!</p>
  <form action="/posts/public" method="GET">
    <input type="submit", value="Try it out">
  </form>
  
  
  
  
  
  
  
