<h1>Create a New Post!</h1>

<form>
  <p><b>First name:<br> <input type="text"></b></p>
  <p><b>Number of pets:<br> <input type="number"></b></p>
  <p><b>Number of dogs:<br> <input type="number"></b></p>
  <p><b>Number of birds:<br> <input type="number"></b></p>
  <p><b>Special accomidations:<br> <input type="text"></b></p>
  
  
</form>
 