<h1>PetBooK</h1>
<h2>How many pets does your shelter have?</h2>

<form action="/new_posts" method="POST">
  
  <label for="owner_name">Owner Name:</label><br>
  <input type="text" name="owner_name" id="owner_name" /> </p>
  
  <label for="location_name">Location Name:</label><br>
  <input type="text" name="location_name" id="location_name" /> </p>
  

  
  <label for="dogs">Dogs:</label><br>
  <input type="number" name="dogs" id="dogs" /> </p>
  
  <label for="cats">Cats:</label><br>
  <input type="number" name="cats" id="cats" /> </p>
  
  <label for="birds">Birds:</label><br>
  <input type="number" name="birds" id="birds" /> </p>
  
  <input type="submit" value="submit" />
  
  
  
</form>
 