<h1>How many pets does your shelter have?</h1>

<form action="/new_post" method="POST">
  
  <label for="location_name">Location Name:</label><br>
  <input type="text" name="location_name" id="location_name" /> </p>
  
  <label for="pets">Pets:</label><br>
  <input type="number" name="pets" id="pets" /> </p>
  
  <label for="dogs">Dogs:</label><br>
  <input type="number" name="dogs" id="dogs" /> </p>
  
  <label for="cats">Cats:</label><br>
  <input type="number" name="cats" id="cats" /> </p>
  
  <label for="birds">Birds:</label><br>
  <input type="number" name="birds" id="birds" /> </p>
  
  <input type="submit" value="submit" />
  
  
  
</form>
 