<html>
  <h1>Welcome to MyBook</h1>
  
  <p1>Please enter the login and password of your new account! Or click "New Account" to create a new account!</p1>
  <p></p>
    <form method="POST" action="/login">
      <p>Username: <input type="text"></p>
      <p>Password: <input type="text"></p>
      <p> <input type="submit", value="login"> </p>
    </form>
    <form method="POST" action="/new-account">
      <p> <input type="submit", value="New Account"> </p>
    </form>
 

  
  
  
</html>