<html>

<h1>Welcome to MyBook!</h1>
  <p>It seems you need a new account! We can help with that!</p>
  <p>Fill in the information below with your correct information then click "submit"! Easy peasy!</p>
  <form method="POST" action="/new_account_homepage">
    
      <p><b>Username must be unique for new account to be created!</b></p>
        <p><b>First name:<br> <input type="text"></b></p>
        <p><b>Last name:<br> <input type="text"></b></p>
        <p><b>Email:<br> <input type="email"></b></p>
        <p><b>Date of birth:<br> <input type="date", value="(dd/mm/yyyy)"></b></p>
        <p><b>Gender:<br> <input type="radio" id="male" name="gender" value="male"></b>
          <label for="male">Male</label><br>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label><br>
          <input type="radio" id="other" name="gender" value="other">
          <label for="other">Other</label><br>
          <input type="radio" id="prefer_not_to_say" name="gender" value="prefer_not_to_say">
          <label for="prefer_not_to_say">Prefer not to say</label></p>
        <p><b>Username:<br> <input type="text"></b></p>
        <p><details><summary><b>Password:</b></summary>
                For your protection it is best to use a safe password<br>
                Safe passwords generally consist of at least one uppercase letter, one lowercase letter, one symbol, and one number.
                </details><input type="text"><p>
            
       
        
        <p> <input type="submit", value="submit"> </p>
        
    
  </form>


</html>