  <form align="right" action="/logout" method="GET">
  <input type="submit" value="Logout!">
  </form>
<h1>PetBooK</h1>
<h2>How many pets does your shelter have?</h2>

<form action="/posts" method="POST">
  
  <label for="owner_name">Owner Name:</label><br>
  <input type="text" required="required" name="owner_name" id="owner_name" /> </p>
  
  <label for="location_name">Location:</label><br>
  <input type="text" required="required" name="location_name" id="location_name" /> </p>
  

  
  <label for="dogs">Dogs:</label><br>
  <input type="number" required="required" name="dogs" id="dogs" /> </p>
  
  <label for="cats">Cats:</label><br>
  <input type="number" required="required" name="cats" id="cats" /> </p>
  
  <label for="birds">Birds:</label><br>
  <input type="number" required="required" name="birds" id="birds" /> </p>
  
  <input type="submit" value="submit" />
  
  
  
</form>
       <form align="right" action="/logged_in" method="GET">
        <input type="submit" value="Home!">
       </form>
 