<h1>PetBook</h1>

<p>This is just a model, to see more you must sign up and create an account</p>

<p>If you like what you see go ahead and create an account, just click below!</p>

<%=
"Owner Name: Cesar Mendoza<br>
Location Name: Dallas, Texas<br>
Total number of Dogs: 4<br>
Total number of Cats: 5<br>
Total number of Birds: 6<br>"
%>
<br>

<form action="/signup" method="GET">
  <input type="submit" value="Sign Up!">
</form>