<h1>PetBooK</h1>
<h2>Welcome Back!</h2>

  <p1>To view all posts click below!</p1>
  <form action="/all/posts" method="GET">
    <input type="submit" value="All Posts">
  </form>
  
  <p> </p>
  
  <p1>To create a new post click below!</p1>
  <form action="/user/posts/create" method="GET">
    <input type="submit" value="New Post">
  </form>
  
  <p> </p>
  
  <p1>To view all your posts click below!</p1>
  <form action="/my_posts" method="GET">
    <input type="submit" value="My Post">
  </form>